# Creating an application to work with numbers and user input

You will frequently need to convert string values into numbers to properly perform different operations, or determine the absolute value of a number.

To create our application we want to read the distance from the sun for two planets, and then display the distance between the planets. We will do this by using `input` to read the values, `int` to convert to integer, and then `abs` to convert the result into its absolute value.

## Read the values

Add the code to read the distance from the sun for each planet from the user by using `input`.

In [1]:
# Store the entries from the user
first_planet = input('Enter the distance from the sun for the first planet in KM')
second_planet = input('Enter the distance from the sun for the second planet in KM')

# Convert to number

Because `input` returns string values we need to convert them to numbers. For our example we'll use `int`.

In [2]:
# Convert the values to integers
first_planet = int(first_planet)
second_planet = int(second_planet)

# Perform the calculation and convert to absolute value

With your values stored as numbers, you can now add the code to perform the calculation, subtracting the first planet from the second. Because the second planet might be a greater number, you'll add use `abs` to convert it to an absolute value. You'll also add the code to display the result in miles by multiplying the KM distance by `1.609344`.

In [ ]:
# Perform the calculation and determine the absolute value
distance_km = second_planet - first_planet
print(distance_km)

# Convert from KM to Miles
distance_mi = distance_km * 1.609344
print(distance_mi)

# Test your application

To test your project, run the notebook. You will be prompted in a dialog box to provide the distances. You can use the ones from the table below:

| Planet  | Distance form sun |
| ------- | ----------------- |
| Mercury | 57900000          |
| Venus   | 108200000         |
| Earth   | 149600000         |
| Mars    | 227900000         |
| Jupiter | 778600000         |
| Saturn  | 1433500000        |
| Uranus  | 2872500000        |
| Neptune | 4495100000        |